# Exclude saved data logs from running sPytfire
data_logs*/

# Exclude proprietary avaspec DLL files
*avaspecx64.dll
*avaspec.py

# Exclude pycache files
*__pycache__

# Exclude IDE and virtual environment files
sPytfire.code-workspace
.vscode/
.venv/

# Exclude iFit folders that can be downloaded seperately from https://github.com/ManchesterVolcanology/iFit
ifit/
Ref/